@font-face {
    font-family: 'MiFuente';
    src: url('digital-7 (mono).ttf') format('truetype');
  }
  

body {
    background-color:lightgoldenrodyellow;
    font-family: Helvetica;
}

#temporizador {
    width: 550px;
}

#mi-tempo {
    border: solid 5px blue;
    background-color: azure;
    white-space: pre ;
    color: darkgreen;
    font-size: 38px;
    text-align: center;
    font-family: "MiFuente";
    
}
#ent-datos {
    border: solid 4px blue;
}

#cont-labels {
    flex: 1;
    display: flex;
}

.labels {
    text-align: center;
    border: solid 1px blue;
    font-family: Helvetica;
    font-weight: bolder;
    background-color: aqua;
    color: darkgreen;
    height: 20px;
    width: 100%;
}

#cont-inputs {
    flex: 1;
    display: flex;
}

.inputs {
    text-align: center;
    border: solid 1px blue;
    color: darkgreen;
    background-color:azure;
    font-size: 20px;
    font-family: Impact;
    height: 30px;
    width: 100%;
}

#cont-boton {
    flex: 1;
    display: flex;
    border: solid 1px blue;
    width: 100%;
}

#boton-temp {
    font-family: Helvetica;
    font-weight: bolder;
    font-size: 22px;
    width: 100%;
    color: blue;
}